.texto-a-1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    color: #424242;
}

.texto-a-2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 0.7rem;
    color: #424242;
}

.texto-a-gt {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
    color: #214478;
}

.texto-a-gt-2 {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: bold;
    font-size: 1.2rem;
    color: #214478;
}
