.no-display {
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* for Internet Explorer */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

#productos img {
    /* float: left; */
    width: 80%;
    height: auto;
    border: none;
    overflow: hidden;
    -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        transition-delay: 0s;
    -moz-transition: all 0.5s;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        transition-delay: 0s;
    -webkit-transition: all 0.5s;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        transition-delay: 0s;
    -o-transition: all 0.5s;
}

#productos img:hover {
    /* float: left; */
    width: 100%;
    height: auto;
    border: none;
    overflow: hidden;
    -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    filter: grayscale(0%);
    transition: all 0.5s;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        transition-delay: 0s;
    -moz-transition: all 0.5s;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        transition-delay: 0s;
    -webkit-transition: all 0.5s;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        transition-delay: 0s;
    -o-transition: all 0.5s;
}

#servicios img {
    /* float: left; */
    width: 90%;
    height: auto;
    border: none;
    overflow: hidden;
    -webkit-filter: grayscale(17%);
        filter: grayscale(17%);
    filter: grayscale(17%);
    transition: all 0.5s;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        transition-delay: 0s;
    -moz-transition: all 0.5s;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        transition-delay: 0s;
    -webkit-transition: all 0.5s;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        transition-delay: 0s;
    -o-transition: all 0.5s;
}

#servicios img:hover {
    /* float: left; */
    width: 100%;
    height: auto;
    border: none;
    overflow: hidden;
    -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    filter: grayscale(0%);
    transition: all 0.3s;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0s;
    -moz-transition: all 0.3s;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0s;
    -webkit-transition: all 0.3s;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0s;
    -o-transition: all 0.3s;
}

.logo {
    margin-top: 60px;
    margin-bottom: 60px;
}

.titulo-seccion-s {
    /* margin-top: 10px; */
    padding-top: 100px;
}

.titulo-seccion-s-2 {
    /* margin-top: 10px; */
    padding-top: 30px;
}

.titulo-seccion-i {
    margin-bottom: 70px;
}

.titulo-seccion-i-2 {
    margin-bottom: 30px;
}

.titulo-seccion {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: bold;
    color: #214478;
}

.texto-1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    color: #424242;
}

.texto-2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
    color: #424242;
}

.texto-3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
    color: #FFFFFF;
}

.texto-4 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    color: #FFFFFF;
}

.texto-gt {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
    color: #214478;
}

.carousel-bg {
    background-color: #0A0A0A;
}

.footer-bg {
    background-color: #303036;
}

.footer-titulo {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
    color: #FFFFFF;
}

#slider {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

@media only screen and (max-width : 768px) {
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}


    .titulo-seccion-s {
        /* margin-top: 10px; */
        padding-top: 40px;
    }

    .titulo-seccion-s-2 {
        /* margin-top: 10px; */
        padding-top: 10px;
    }

    .titulo-seccion-i {
        margin-bottom: 10px;
    }

    .titulo-seccion-i-2 {
        margin-bottom: 10px;
    }


    .texto-1 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: normal;
        font-size: 0.9rem;
        color: #424242;
    }

    .texto-2 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: normal;
        font-size: 0.7rem;
        color: #424242;
    }

    .texto-3 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: normal;
        font-size: 0.7rem;
        color: #FFFFFF;
    }

    .texto-4 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: normal;
        font-size: 0.9rem;
        color: #FFFFFF;
    }

    .texto-gt {
        font-family: 'Ubuntu';
        font-style: italic;
        font-weight: bold;
        font-size: 1.2rem;
        color: #214478;
    }

    #productos img {
        /* float: left; */
        width: 80%;
        height: auto;
        border: none;
        overflow: hidden;
        -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
        filter: grayscale(0%);
    }

    #productos img:hover {
        /* float: left; */
        width: 80%;
        height: auto;
        border: none;
        overflow: hidden;
        -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
        filter: grayscale(0%);
    }

    #servicios img {
        /* float: left; */
        width: 90%;
        height: auto;
        border: none;
        overflow: hidden;
        -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
        filter: grayscale(0%);
    }

    #servicios img:hover {
        /* float: left; */
        width: 90%;
        height: auto;
        border: none;
        overflow: hidden;
        -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
        filter: grayscale(0%);
    }

}
