* {
    margin: 0;
    padding: 0;
}

.my-nav {
    position: relative;
    top: 30px;
    width: 100%;
    height: auto;
    z-index: 999;
    background: none;
    border: none;
    border-radius: 0;
}

.my-nav {
    /* background-color: rgba(0,0,0,0.00);
    border-color: rgba(0,0,0,0.00); */
    background-color: rgba(33,68,120,0.8);
    border-color: rgba(33,68,120,0.8);
}

.my-nav .navbar-brand {
    color: #ecf0f1;
}

.my-nav .navbar-brand:hover,
.my-nav .navbar-brand:focus {
    color: aliceblue;
}

.my-nav .navbar-text {
    color: #ecf0f1;
}

.my-nav .navbar-nav >li >a {
    color: #ecf0f1;
    font-family: 'Ubuntu';
}

.my-nav .navbar-nav >li >a:hover,
.my-nav .navbar-nav >li >a:focus {
    background-color: rgba(33,68,120,0.8);
    font-weight: bold;
}

.my-nav .navbar-nav >.active >a,
.my-nav .navbar-nav >.active >a:hover,
.my-nav .navbar-nav >.active >a:focus {
    background-color: rgba(33,68,120,0.8);
    color: #ecf0f1;
}

.my-nav .navbar-nav >.open >a,
.my-nav .navbar-nav >.open >a:hover,
.my-nav .navbar-nav >.open >a:focus {
    background-color: #3962ff;
    color: #ecf0f1;
}

.my-nav .navbar-toggler {
    border-color: #ffffff;
}

.my-nav .navbar-toggler:hover,
.my-nav .navbar-toggler:focus {
    border-color: #ffffff;
}

.my-nav .navbar-toggler .icon-bar {
    background-color: #ffffff;
}

.my-nav .navbar-collapse,
.my-nav .navbar-form {
    border-color: #ecf0f1;
}

.my-nav .navbar-link {
    color: #ecf0f1;
}

.my-nav .navbar-link:hover {
    color: #ecdbff;
}

/* .navbar-toggler-icon {
    color: #ffffff !important;
} */

.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/* dropdwon  */
.my-nav .navbar-nav>li>.dropdown-menu>a {
    color: #ecf0f1;
    font-family: 'Ubuntu';
}

.my-nav .navbar-nav>li>.dropdown-menu>a:hover,
.my-nav .navbar-nav>li>.dropdown-menu>a:focus {
    background-color: rgba(33, 68, 120, 0.8);
    font-weight: bold;
}

.my-nav .navbar-nav>li>.dropdown-menu {
    /* background-color: rgba(0,0,0,0.00);
    border-color: rgba(0,0,0,0.00); */
    background-color: rgba(33, 68, 120, 0.8);
    border-color: rgba(33, 68, 120, 0.8);
}

@media (max-width: 767px) {
    .my-nav {
        /* background-color: rgba(0,0,0,0.40);
        border-color: rgba(0,0,0,0.40); */
        background-color: rgba(33,68,120,0.4);
        border-color: rgba(33,68,120,0.4);
    }
    .my-nav .navbar-nav .open .dropdown-menu >li >a {
        /* color: #ecf0f1; */
        /* color: #ffffff; */
        color: #bababa;
        font-family: 'Ubuntu';
        font-weight: bold;
    }

    .my-nav .navbar-nav .open .dropdown-menu >li >a:hover,
    .my-nav .navbar-nav .open .dropdown-menu >li >a:focus {
        /* color: #ecdbff; */
        /* color: #ffffff; */
        color: #bababa;
        font-weight: bold;
    }

    .my-nav .navbar-nav .open .dropdown-menu > .active >a,
    .my-nav .navbar-nav .open .dropdown-menu > .active >a:hover,
    .my-nav .navbar-nav .open .dropdown-menu > .active >a:focus {
        /* color:#ecdbff; */
        /* color: #ffffff; */
         color: #bababa;
        background-color: rgba(33,68,120,0.8);
    }

    /* .navbar-toggler-icon {
        color: #ffffff !important;
    } */


    /* dropdown */
    .my-nav .navbar-nav>li>.dropdown-menu>a:hover,
    .my-nav .navbar-nav>li>.dropdown-menu>a:focus {
        background-color: rgba(33, 68, 120, 0.4);
        font-weight: bold;
    }

    .my-nav .navbar-nav>li>.dropdown-menu {
        /* background-color: rgba(0,0,0,0.00);
    border-color: rgba(0,0,0,0.00); */
        background-color: rgba(33, 68, 120, 0.4);
        border-color: rgba(33, 68, 120, 0.4);
    }
}

.my-carousel {
    top: -70px;
}
