// 500px

.parallax1 {
    /* The image used */
    background-image: url("../img/parallax/parallaxd2.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url("../img/parallax/parallaxd2.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    /* The image used */
    background-image: url("../img/parallax/parallaxd3.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


// 200px

.parallax4 {
    /* The image used */
    background-image: url("../img/parallax/parallaxd1.jpg");

    /* Set a specific height */
    height: 200px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax5 {
    /* The image used */
    background-image: url("../img/parallax/parallaxd2.jpg");

    /* Set a specific height */
    height: 200px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax6 {
    /* The image used */
    background-image: url("../img/parallax/parallaxd3.jpg");

    /* Set a specific height */
    height: 200px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax7 {
    /* The image used */
    background-image: url("../img/parallax/parallaxd2.jpg");

    /* Set a specific height */
    height: 200px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


// 150px
.parallax8 {
    /* The image used */
    background-image: url("../img/parallax/parallaxd1.jpg");

    /* Set a specific height */
    height: 150px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax9 {
    /* The image used */
    background-image: url("../img/parallax/parallaxd2.jpg");

    /* Set a specific height */
    height: 150px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax10 {
    /* The image used */
    background-image: url("../img/parallax/parallaxd3.jpg");

    /* Set a specific height */
    height: 150px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax11 {
    /* The image used */
    background-image: url("../img/parallax/parallaxd2.jpg");

    /* Set a specific height */
    height: 150px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width : 768px) {
    .parallax15 {
        /* The image used */
        background-image: url("../img/parallax/parallaxd1.jpg");

        /* Set a specific height */
        height: 150px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .parallax2 {
        /* The image used */
        background-image: url("../img/parallax/parallaxd2.jpg");

        /* Set a specific height */
        height: 150px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .parallax3 {
        /* The image used */
        background-image: url("../img/parallax/parallaxd3.jpg");

        /* Set a specific height */
        height: 150px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .parallax4 {
        /* The image used */
        background-image: url("../img/parallax/parallaxd1.jpg");

        /* Set a specific height */
        height: 100px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .parallax5 {
        /* The image used */
        background-image: url("../img/parallax/parallaxd2.jpg");

        /* Set a specific height */
        height: 100px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .parallax6 {
        /* The image used */
        background-image: url("../img/parallax/parallaxd3.jpg");

        /* Set a specific height */
        height: 100px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .parallax7 {
        /* The image used */
        background-image: url("../img/parallax/parallaxd2.jpg");

        /* Set a specific height */
        height: 100px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .parallax8 {
        /* The image used */
        background-image: url("../img/parallax/parallaxd1.jpg");

        /* Set a specific height */
        height: 100px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .parallax9 {
        /* The image used */
        background-image: url("../img/parallax/parallaxd2.jpg");

        /* Set a specific height */
        height: 100px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .parallax10 {
        /* The image used */
        background-image: url("../img/parallax/parallaxd3.jpg");

        /* Set a specific height */
        height: 100px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .parallax11 {
        /* The image used */
        background-image: url("../img/parallax/parallaxd2.jpg");

        /* Set a specific height */
        height: 100px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

}
